# Executables
*.exe
*.out
*.iml

# Stress Test Temporary Files
brute
code
gen
input_file
myAnswer
correctAnswer

# Windows
.vscode/
.idea/

# Files > 100MB
Ishan Advanced Algorithm - 4.pdf
Computer Networks/Network and System Security/Wenliang Du - Computer & Internet Security_ A Hands-on Approach (2019, Wenliang Du) - libgen.li.pdf